<nav class="navbar">
    <ul>
<<<<<<< HEAD
        <nav class="navbar">
            <ul>
                <li><a href="?page=home">Home</a></li>
                <li><a href="?page=contact">Contact</a></li>
            </ul>
        </nav>
        

    </ul>
</nav>  




=======
        <li><a href="?page=home">Home</a></li>
        <li><a href="?page=contact">Contact</a></li>
    </ul>
</nav>
>>>>>>> e4f49a72aa25ecb8fc32291962d9e86540530e72
