/******  Bug transitions  *******/
.clean__transition * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}
/******   reset  *******/
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* colors */
  --white: rgb(241, 241, 241);
  --coral: rgba(255, 127, 80, 1);
  --dark: rgb(51, 51, 51);
  

  /* fonts */
  --title: "Spartan", sans serif;

  /* sizes */
  --h1: max(4vw, 4rem, 5rem);
  --h2: max(2vw, 3rem, 3rem);

  /* padding */
  --btnPadding: 10px 15px;
}

/********************/
/*** GENERALITES  ***/
/********************/
html {
  background: white;
  font-size: 62.5%;
}
body {
  min-height: 4000px;
  background: var(--white);
}


h1 {
  font-family: var(--title);
  font-size: var(--h1);
  color: var(--coral);
  text-align: center;
}
h2 {
  font-family: var(--title);
  font-size: var(--h2);
  color: var(--white);
  text-align: center;
}
/*******************/
/***** HEADER ******/
/*******************/

.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height:70px;
  background:var(--dark);
  transition: all .3s ease-in-out;
  
}

ul{ 
  width:100%;
  height:100%;
  display:flex;
  justify-content:flex-end;
  align-items: center;
  /* background:  pink; */
  

}

li{
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0 2%;
  /* background: red; */
  
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white);
  /* background: blue; */
}

.hidden_nav{
  top: -75px;
}







/******************/
/****** MAIN ******/
/******************/

/*******************/
/***** FOOTER ******/
/*******************/
