{% extends 'base.twig' %}
{% block description %} Page de contact du site Tech {% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="public/css/contact.css">
{% endblock %}

{% block script %}
<script src="public/js/contact.js"></script>
{% endblock %}





{% block title %}Contact{% endblock %}
{% block main %}

<div id="content">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam minima sint molestias cumque dignissimos quae
        magni tenetur reprehenderit libero, sapiente minus, quam in, illo cum debitis unde beatae ratione ipsum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur similique magni explicabo consequatur
        voluptatum tempora, voluptas officia ullam ipsam mollitia suscipit sint itaque perferendis in ratione ab
        ? Laborum, suscipit optio.orem ipsum dolor sit amet consectetur adipisicing elit. Aperiam minima sint molestias
        cumque dignissimos quae magni tenetur reprehenderit libero, sapiente minus, quam in, illo cum debitis unde
        beatae ratione ipsum!
        Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur similique magni explicabo consequatur
        voluptatum tempora, voluptas officia ullam ipsam mollitia suscipit sint itaque perferendis in ratione ab
        ? Laborum, suscipit optio.orem ipsum dolor sit amet consectetur adipisicing elit. Aperiam minima sint molestias
        cumque dignissimos quae magni tenetur reprehenderit libero, sapiente minus, quam in, illo cum debitis unde
        beatae ratione ipsum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur similique magni explicabo consequatur
        voluptatum tempora, voluptas officia ullam ipsam mollitia suscipit sint itaque perferendis in ratione ab
        ? Laborum, suscipit optio.orem ipsum dolor sit amet consectetur adipisicing elit. Aperiam minima sint molestias
        cumque dignissimos quae magni tenetur reprehenderit libero, sapiente minus, quam in, illo cum debitis unde
        beatae ratione ipsum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur similique magni explicabo consequatur
        voluptatum tempora, voluptas officia ullam ipsam mollitia suscipit sint itaque perferendis in ratione ab
        ? Laborum, suscipit optio.orem ipsum dolor sit amet consectetur adipisicing elit. Aperiam minima sint molestias
        cumque dignissimos quae magni tenetur reprehenderit libero, sapiente minus, quam in, illo cum debitis unde
        beatae ratione ipsum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur similique magni explicabo consequatur
        voluptatum tempora, voluptas officia ullam ipsam mollitia suscipit sint itaque perferendis in ratione ab
        ? Laborum, suscipit optio.orem ipsum dolor sit amet consectetur adipisicing elit. Aperiam minima sint molestias
        cumque dignissimos quae magni tenetur reprehenderit libero, sapiente minus, quam in, illo cum debitis unde
        beatae ratione ipsum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur similique magni explicabo consequatur
        voluptatum tempora, voluptas officia ullam ipsam mollitia suscipit sint itaque perferendis in ratione ab
        ? Laborum, suscipit optio.orem ipsum dolor sit amet consectetur adipisicing elit. Aperiam minima sint molestias
        cumque dignissimos quae magni tenetur reprehenderit libero, sapiente minus, quam in, illo cum debitis unde
        beatae ratione ipsum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur similique magni explicabo consequatur
        voluptatum tempora, voluptas officia ullam ipsam mollitia suscipit sint itaque perferendis in ratione ab
        ? Laborum, suscipit optio.orem ipsum dolor sit amet consectetur adipisicing elit. Aperiam minima sint molestias
        cumque dignissimos quae magni tenetur reprehenderit libero, sapiente minus, quam in, illo cum debitis unde
        beatae ratione ipsum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur similique magni explicabo consequatur
        voluptatum tempora, voluptas officia ullam ipsam mollitia suscipit sint itaque perferendis in ratione ab
        ? Laborum, suscipit optio.orem ipsum dolor sit amet consectetur adipisicing elit. Aperiam minima sint molestias
        cumque dignissimos quae magni tenetur reprehenderit libero, sapiente minus, quam in, illo cum debitis unde
        beatae ratione ipsum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur similique magni explicabo consequatur
        voluptatum tempora, voluptas officia ullam ipsam mollitia suscipit sint itaque perferendis in ratione ab
        ? Laborum, suscipit optio.orem ipsum dolor sit amet consectetur adipisicing elit. Aperiam minima sint molestias
        cumque dignissimos quae magni tenetur reprehenderit libero, sapiente minus, quam in, illo cum debitis unde
        beatae ratione ipsum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur similique magni explicabo consequatur
        voluptatum tempora, voluptas officia ullam ipsam mollitia suscipit sint itaque perferendis in ratione ab
        ? Laborum, suscipit optio.orem ipsum dolor sit amet consectetur adipisicing elit. Aperiam minima sint molestias
        cumque dignissimos quae magni tenetur reprehenderit libero, sapiente minus, quam in, illo cum debitis unde
        beatae ratione ipsum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur similique magni explicabo consequatur
        voluptatum tempora, voluptas officia ullam ipsam mollitia suscipit sint itaque perferendis in ratione ab
        ? Laborum, suscipit optio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur similique magni
        explicabo consequatur voluptatum tempora, voluptas officia ullam ipsam mollitia suscipit sint itaque perferendis
        in ratione ab
        ? Laborum, suscipit optio.orem ipsum dolor sit amet consectetur adipisicing elit. Aperiam minima sint molestias
        cumque dignissimos quae magni tenetur reprehenderit libero, sapiente minus, quam in, illo cum debitis unde
        beatae ratione ipsum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur similique magni explicabo consequatur
        voluptatum tempora, voluptas officia ullam ipsam mollitia suscipit sint itaque perferendis in ratione ab
        ? Laborum, suscipit optio.orem ipsum dolor sit amet consectetur adipisicing elit. Aperiam minima sint molestias
        cumque dignissimos quae magni tenetur reprehenderit libero, sapiente minus, quam in, illo cum debitis unde
        beatae ratione ipsum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur similique magni explicabo consequatur
        voluptatum tempora, voluptas officia ullam ipsam mollitia suscipit sint itaque perferendis in ratione ab
        ? Laborum, suscipit optio.orem ipsum dolor sit amet consectetur adipisicing elit. Aperiam minima sint molestias
        cumque dignissimos quae magni tenetur reprehenderit libero, sapiente minus, quam in, illo cum debitis unde
        beatae ratione ipsum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur similique magni explicabo consequatur
        voluptatum tempora, voluptas officia ullam ipsam mollitia suscipit sint itaque perferendis in ratione ab
        ? Laborum, suscipit optio.orem ipsum dolor sit amet consectetur adipisicing elit. Aperiam minima sint molestias
        cumque dignissimos quae magni tenetur reprehenderit libero, sapiente minus, quam in, illo cum debitis unde
        beatae ratione ipsum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur similique magni explicabo consequatur
        voluptatum tempora, voluptas officia ullam ipsam mollitia suscipit sint itaque perferendis in ratione ab
        ? Laborum, suscipit optio.orem ipsum dolor sit amet consectetur adipisicing elit. Aperiam minima sint molestias
        cumque dignissimos quae magni tenetur reprehenderit libero, sapiente minus, quam in, illo cum debitis unde
        beatae ratione ipsum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur similique magni explicabo consequatur
        voluptatum tempora, voluptas officia ullam ipsam mollitia suscipit sint itaque perferendis in ratione ab
        ? Laborum, suscipit optio.orem ipsum dolor sit amet consectetur adipisicing elit. Aperiam minima sint molestias
        cumque dignissimos quae magni tenetur reprehenderit libero, sapiente minus, quam in, illo cum debitis unde
        beatae ratione ipsum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur similique magni explicabo consequatur
        voluptatum tempora, voluptas officia ullam ipsam mollitia suscipit sint itaque perferendis in ratione ab
        ? Laborum, suscipit optio.orem ipsum dolor sit amet consectetur adipisicing elit. Aperiam minima sint molestias
        cumque dignissimos quae magni tenetur reprehenderit libero, sapiente minus, quam in, illo cum debitis unde
        beatae ratione ipsum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur similique magni explicabo consequatur
        voluptatum tempora, voluptas officia ullam ipsam mollitia suscipit sint itaque perferendis in ratione ab
        ? Laborum, suscipit optio.orem ipsum dolor sit amet consectetur adipisicing elit. Aperiam minima sint molestias
        cumque dignissimos quae magni tenetur reprehenderit libero, sapiente minus, quam in, illo cum debitis unde
        beatae ratione ipsum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur similique magni explicabo consequatur
        voluptatum tempora, voluptas officia ullam ipsam mollitia suscipit sint itaque perferendis in ratione ab
        ? Laborum, suscipit optio.orem ipsum dolor sit amet consectetur adipisicing elit. Aperiam minima sint molestias
        cumque dignissimos quae magni tenetur reprehenderit libero, sapiente minus, quam in, illo cum debitis unde
        beatae ratione ipsum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur similique magni explicabo consequatur
        voluptatum tempora, voluptas officia ullam ipsam mollitia suscipit sint itaque perferendis in ratione ab
        ? Laborum, suscipit optio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur similique magni
        explicabo consequatur voluptatum tempora, voluptas officia ullam ipsam mollitia suscipit sint itaque perferendis
        in ratione ab
        ? Laborum, suscipit optio.orem ipsum dolor sit amet consectetur adipisicing elit. Aperiam minima sint molestias
        cumque dignissimos quae magni tenetur reprehenderit libero, sapiente minus, quam in, illo cum debitis unde
        beatae ratione ipsum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur similique magni explicabo consequatur
        voluptatum tempora, voluptas officia ullam ipsam mollitia suscipit sint itaque perferendis in ratione ab
        ? Laborum, suscipit optio.orem ipsum dolor sit amet consectetur adipisicing elit. Aperiam minima sint molestias
        cumque dignissimos quae magni tenetur reprehenderit libero, sapiente minus, quam in, illo cum debitis unde
        beatae ratione ipsum!

    </p>
</div>
<button type="button" id="show_more">Show More </button>


{# <h1>Pour nous contacter</h1>
<div class="form_container">
    <form action class="form">
        <div class="first div_fo">
            <label for="name">Nom :</label>
            <input type="text" id="name" name="user_name" placeholder="Votre nom">
        </div>
        <div class="second div_fo">
            <label for="mail">e-mail:</label>
            <input type="email" id="mail" name="user_mail" placeholder="Votre mail">
        </div>
        <div class="thirsty div_fo">
            <label for="msg">Message :</label>
            <textarea id="msg" name="user_message"></textarea>
        </div>

        <button>
            <i class="fa-solid fa-circle-dot"></i>
        </button>



    </form>
</div> #}

{% endblock %}